# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd



# Entorno / IDE
.env
.venv/
.vscode/
.idea/
.environment/

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/

# IDEs / sistemas
.vscode/
.idea/
.DS_Store
Thumbs.db