{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Reservas</h1>

    {% if reservas %}
        <table>
            <tr>
                <th>Vuelo</th>
                <th>Pasajero</th>
                <th>Documento</th>
                <th>Email</th>
            </tr>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.vuelo.numero }}</td>
                    <td>{{ reserva.pasajero.nombre }}</td>
                    <td>{{ reserva.pasajero.documento }}</td>
                    <td>{{ reserva.pasajero.email }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'reservas:crear_reserva' vuelo_id=reservas.first.vuelo.id %}">Crear nueva reserva</a>
    {% else %}
        <p>No hay reservas cargadas.</p>
    {% endif %}
{% endblock %}
