{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "Listado de Vuelos" %}</h1>
<table>
    <thead>
        <tr>
            <th>{% trans "Número" %}</th>
            <th>{% trans "Origen" %}</th>
            <th>{% trans "Destino" %}</th>
            <th>{% trans "Fecha Salida" %}</th>
            <th>{% trans "Estado" %}</th>
            <th>{% trans "Precio Base" %}</th>
            <th>{% trans "Avión" %}</th>
            <th>{% trans "Acciones" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for vuelo in vuelos %}
        <tr>
            <td>{{ vuelo.id }}</td>
            <td>{{ vuelo.origen }}</td>
            <td>{{ vuelo.destino }}</td>
            <td>{{ vuelo.fecha_salida|date:"Y-m-d H:i" }}</td>
            <td>{{ vuelo.get_estado_display }}</td>
            <td>${{ vuelo.precio_base }}</td>
            <td>{{ vuelo.avion.modelo }}</td>
            <td>
                <a href="{% url 'reservas:seleccionar_asiento' vuelo.id %}">{% trans "Reservar" %}</a> |
                <a href="{% url 'vuelos:crear_vuelo' %}">{% trans "Crear Vuelo" %}</a> |
                <a href="{% url 'vuelos:vuelo_detail' vuelo.id %}">{% trans "Ver Detalle" %}</a> |
                <a href="{% url 'vuelos:editar_vuelo' vuelo.id %}">{% trans "Editar" %}</a> |
                <a href="{% url 'vuelos:eliminar_vuelo' vuelo.id %}">{% trans "Eliminar" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
