{% extends 'base.html' %}
{% block content %}
<h1>Listado de Vuelos</h1>
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha Salida</th>
            <th>Estado</th>
            <th>Precio Base</th>
            <th>Avión</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vuelo in vuelos %}
        <tr>
            <td>{{ vuelo.id }}</td>
            <td>{{ vuelo.origen }}</td>
            <td>{{ vuelo.destino }}</td>
            <td>{{ vuelo.fecha_salida|date:"Y-m-d H:i" }}</td>
            <td>{{ vuelo.get_estado_display }}</td>
            <td>${{ vuelo.precio_base }}</td>
            <td>{{ vuelo.avion.modelo }}</td>
            <td>
                <a href="{% url 'vuelos:vuelo_detail' vuelo.id %}">Ver Detalle</a>
                
                {% if user.perfil.rol == 'pasajero' or user.perfil.rol == 'admin' %}
                    | <a href="{% url 'reservas:seleccionar_asiento' vuelo.id %}">Reservar</a>
                {% endif %}
                
                {% if user.perfil.rol == 'admin' or user.perfil.rol == 'operador' %}
                    | <a href="{% url 'vuelos:crear_vuelo' %}">Crear vuelo</a>
                    | <a href="{% url 'vuelos:editar_vuelo' vuelo.id %}">Editar</a>
                    | <a href="{% url 'vuelos:eliminar_vuelo' vuelo.id %}">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
